version: '3'

services:
  influxdb:
    container_name: influxdb
    image: influxdb:alpine
    restart: always
    labels:
      - traefik.enable=true
      - traefik.backend=influxdb
      - traefik.frontend.rule=Host:influxdb.hippoline.nl
      - traefik.docker.network=proxy
      - traefik.docker.port=8086
    volumes:
      - influxdb:/var/lib/influxdb
      # - ${PWD}/influxdb.conf:/etc/influxdb/influxdb.conf:ro
    environment:
      INFLUXDB_DB: telegraf
      INFLUXDB_ADMIN_USER: ${INFLUXDB_ADMIN_USER}
      INFLUXDB_ADMIN_PASSWORD: ${INFLUXDB_ADMIN_PASSWORD}
      INFLUXDB_WRITE_USER: ${INFLUXDB_WRITE_USER}
      INFLUXDB_WRITE_USER_PASSWORD: ${INFLUXDB_WRITE_USER_PASSWORD}
      INFLUXDB_READ_USER: ${INFLUXDB_READ_USER}
      INFLUXDB_READ_USER_PASSWORD: ${INFLUXDB_READ_USER_PASSWORD}
    networks:
      - internal
      - proxy

  grafana:
    container_name: grafana
    image: grafana/grafana:latest
    restart: always
    labels:
      - traefik.enable=true
      - traefik.backend=grafana
      - traefik.frontend.rule=Host:grafana.josverheij.nl
      - traefik.docker.network=proxy
      - traefik.port=3000
    volumes:
      - grafana:/var/lib/grafana
    environment:
      GF_SMTP_ENABLED: true
    networks:
      - internal
      - proxy

  telegraf:
    container_name: telegraf-front
    image: telegraf:alpine
    restart: always
    volumes:
      - ${PWD}/telegraf/telegraf.conf:/etc/telegraf/telegraf.conf:ro
      - /var/run/docker.sock:/var/run/docker.sock:ro
    networks:
      - internal

volumes:
  influxdb:
    driver: local
  # prometheus:
  #   driver: local
  grafana:
    driver: local

networks:
  proxy:
    external: true
  internal:
    external: false